.footer {
	position: absolute;
	top: 1000vh;
	width: 100%;
	min-height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5rem;

	&__container {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 4rem;
		height: 90%;
		padding: 0 2rem;
		.footer__column-title {
			font-size: 1.5rem;
			margin-bottom: 1rem;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 2.75rem;
				left: 0;
				width: 70px;
				height: 2px;
				background-color: #222;
			}
		}
		.footer__company-info {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			font-size: 1.2rem;
			min-width: 250px;

			address {
				display: flex;
				flex-direction: column;
				gap: 2rem;
				align-self: center;
				.footer__logo {
					width: 200px;
				}
			}
		}
		.footer__contact,
		.footer__company-socials {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			font-size: 1.2rem;
			min-width: 250px;
			padding-top: 2rem;
			a {
				display: flex;
				align-items: center;
				gap: 1rem;
				font-size: 1.2rem;
				svg {
					font-size: 1.5rem;
				}
			}
		}
	}
	&__copyright {
		text-align: center;
		width: 100%;
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}
