.company-name {
	position: sticky;
	width: 75%;
	// max-width: 75%; //for dekstops 50%
	top: 50vh;
	transform: translateY(-50%); //to center img
	-webkit-transition-property: opacity; //Safari
	-webkit-transition-duration: 0.5s; //Safari
	transition: opacity 0.5s ease-in-out;
	z-index: 3;
}

@media screen and (min-width: 768px) {
	.company-name {
		max-width: 500px;
		transform: translateY(-40%);
	}
}
