.nav {
	height: 15vh;
	background-color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	&__logo {
		height: 100%;
		cursor: pointer;
	}
	&__btn-container {
		position: relative;
	}
}

//-------------------- tablet and desktop ---------------------
@media screen and (min-width: 600px) {
	.nav {
		padding: 0 3rem;
	}
}
