.nav {
	height: 15vh;
	background-color: #222;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
	&__logo {
		height: 100%;
		cursor: pointer;
	}
	ul {
		li {
			position: relative;
		}
	}
}

//-------------------- tablet and desktop ---------------------
@media screen and (min-width: 600px) {
	.nav {
		padding: 0 3rem;
	}
}
