.our-drones {
	position: absolute;
	top: 630vh; //offset from top of the page (must include all sections above heights)
	padding-top: 10rem;
	&__title {
		font-size: 2.5rem;
		text-align: center;
		padding: 1rem 1rem 3rem;
		color: white;
	}
}
