.our-drones {
	position: absolute;
	top: 630vh; //offset from top of the page (must include all sections above heights)
	padding-top: 10rem;
	padding-bottom: 10rem;
	&__title {
		padding: 1rem 1rem 3rem;
	}
	&__paragraph {
		width: 85%;
		max-width: calc(1920 * 0.7px);
		text-align: left;
		margin: 0 auto;
		@media screen and (min-width: 768px) {
			width: 70%;
		}
	}
}
