.element {
	height: 70vh;
	width: 100%;
	margin: 4rem 0;
	.container {
		position: absolute;
		top: 50%;
		transform: translateY(-50%); //centering image
		min-width: 300px;
		max-width: 600px;
		width: 50%;
		img {
			width: 100%;
		}
	}
}
