.element {
	height: 75vh;
	width: 100%;
	margin: 4rem 0;
	.container {
		position: absolute;
		top: 35%;
		min-width: 300px;
		max-width: 500px;
		width: 40%;
		// margin-left: 5rem;
		img {
			width: 100%;
		}
	}
}

@media screen and (min-width: 768px) {
	.element {
		.container {
			margin-left: 4rem;
		}
	}
}
