.portfolio {
	position: absolute;
	top: 850vh; //initial value if JS code doesn't work
	padding-bottom: 10rem; //margin is not added in offsetHeight so it needs to be padding
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem;
	&__title {
		text-align: center;
		padding: 1rem 1rem 3rem;
		color: white;
		width: 100%;
	}
}
