.shadow {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 300vh; //need to be the same as video section height
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 65%);
}
