.text-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;
	overflow: hidden;
	flex-direction: column-reverse;
	padding: 4rem 1rem; //gives 2x4rem space between containers

	.text-container {
		width: 45vw;
		min-width: 300px;
		max-width: 500px;
		&__title {
			font-size: 2rem;
			margin-bottom: 2rem;
			line-height: 3rem;
			text-align: left;
			color: white;
		}
		&__paragraph {
			position: relative;
			font-size: 1.2rem;
			line-height: 2rem;
			text-align: left; //desktops can be right or left
			color: rgba(255, 255, 255, 0.6);
			//divider line above text container
			&::before {
				content: "";
				position: absolute;
				top: -1.2rem;
				left: 0;
				width: 20%;
				height: 2px;
				background-color: #222;
			}
			ul {
				list-style: inside;
				li {
					margin: 1rem 0rem 1rem 2rem;
				}
			}
		}
	}
	.img-container {
		transform-style: preserve-3d;
		width: 40vw;
		min-width: 270px;
		max-width: 500px;
		display: flex;
		flex-direction: column;
		img {
			width: 100%;
		}
	}
}

//---------------- larger screens ------------------------------------
// image and text are next to each other
@media screen and (min-width: 667px) /* value tested in devtools when image and text are next to each other */ {
	.text-image-container {
		flex-direction: row;
		min-height: 50vh; // two containers on screen
		&:nth-child(odd) {
			flex-direction: row-reverse;
		}
	}
}

@media screen and (min-width: 1025px) {
	.text-image-container {
		min-height: 85vh;
	}
}
