.what-is-fpv {
	position: absolute;
	top: 315vh; //initial top value if something goes wrong with JS inline style code
	overflow-x: hidden;
	&__title {
		text-align: center;
		padding: 1rem 1rem 3rem;
	}
	&__subtitle {
		text-align: center;
		margin: 2rem 0;
	}
	&__paragraph-container {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		max-width: 1920px; //for ultrawide screens
	}
	&__paragraph {
		width: 85%;
		text-align: left;
		@media screen and (min-width: 768px) {
			width: 70%;
		}
	}
}
