@import "./reset";
@import "./nav";
@import "./footer";
@import "./loader";
@import "./video";
@import "./contactBtn";
@import "./textAndImage";
@import "./ourDrones";
@import "./whatIsFPV";
@import "./shadow";
@import "./logo";
@import "./parallaxComponent";
@import "./portfolio";
@import "./videoCard";
@import "./compareSlider";

html,
body {
	padding: 0;
	margin: 0;
	font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
	background-color: black;
	color: white;
}

section {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	padding: 0.3rem;
	&:hover {
		color: rgb(70, 86, 176);
	}
	&:focus {
		outline: 2px solid rgb(70, 86, 176);
		border-radius: 4px;
	}
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	line-height: 3rem;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

h2 {
	font-size: 3rem;
	line-height: 4rem;
}
h3 {
	font-size: 2rem;
	line-height: 3rem;
}
h4 {
	font-size: 1.5rem;
	line-height: 2.5rem;
}
p {
	font-size: 1.2rem;
	line-height: 2rem;
	color: rgb(255, 255, 255, 0.6);
}
