@import "./reset";
@import "./nav";
@import "./scroll";
@import "./footer";
@import "./loader";
@import "./video";
@import "./contactBtn";
@import "./textAndImage";
@import "./ourDrones";
@import "./whatIsFPV";
@import "./shadow";
@import "./logo";
@import "./parallaxComponent";
@import "./portfolio";
@import "./videoCard";

html,
body {
	padding: 0;
	margin: 0;
	font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	scroll-behavior: smooth;
	background-color: black;
	color: white;
}

section {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	&:hover {
		color: rgb(70, 86, 176);
	}
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	line-height: 3rem;
	width: 70%;
	margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
